<div id="item-<%= training.id %>" class="content col-sm-12 col-md-3 text-center">
    <div class="content-panel">
        <div class="name">
            <p><%= training.name %></p>
        </div>
        <div class="logo">
            <img src="/assets/mustle_training.png">
        </div>
        <!--<div class="category">-->
        <!--    <p><%= training.category_id %></p>-->
        <!--</div>-->
        <!--<div class="weight">-->
        <!--    <p><%= training.weight %>kg</p>-->
        <!--</div>-->
        <!--<div class="times">-->
        <!--    <p><%= training.times %>回</p>-->
        <!--</div>-->
    </div>
</div>
