<main id="new-menu">
    <section class="title">
        <h2>メニューの新規作成</h2>
    </section>
    
    <section class="content">
        <%= form_for [@user,@menu] do |f| %>
            <%=  f.hidden_field :user_id, value: current_user.id %>
            <div class="name">
                <%= f.label :name %>
                <%= f.text_field :name, placeholder: "メニュー名" %>
            </div>
            
            <div class="training-items">
                <p>ここに要素を追加していく</p>
            </div>
            
            <div class="add-training">
                <a class="add">+種目の追加</a>
                <hr>
            </div>
            
            <div class="submit">
                <%= f.submit "決定" %>
            </div>
        <% end %>
    </section>
    
    <!--モーダルの記述-->
    <section id="modal" class="hide">
        <section class="items row">
            <%= render partial: "training", collection: @trainings %>
        </section>
    </section>
    
    
    <%= javascript_include_tag 'menus.js' %>
</main>
