<!DOCTYPE html>
<html>
    <head>
        <title>Fitstack</title>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>
        <header>
            <h2>Fitstack</h2>
            <!--ハンバーガーボタン-->
            <div id="navToggle">
                <div>
                    <span class="top"></span> 
                    <span class="middle"></span> 
                    <span class="bottom"></span>
                </div>
            </div>
            <!--メニュー表示-->
            <nav>
                <% if user_signed_in? %>
                    <ul>
                        <li>
                            <%= link_to "マイページ","/mypage/#{current_user.id}" %>
                        </li>
                        <li>
                            <%= link_to "ユーザー情報",user_path(current_user) %>
                        </li>
                        <li>
                            <%= link_to "トレーニング一覧",user_training_path(current_user) %>
                        </li>
                        <li>
                            <%= link_to "トレーニング登録",new_user_training_path(current_user) %>
                        </li>
                        <li>
                            <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
                        </li>
                        <li><a href="#">MENU4</a></li>
                    </ul>
                <% else %>
                    <ul>
                        <li>
                            <%= link_to "ログイン",new_user_session_path %> 
                        </li>
                        <li>
                            <%= link_to "会員登録",new_user_registration_path %>
                            </li>
                        <li><a href="#">MENU2</a></li>
                    </ul>
                <% end %>
                
            </nav>
            
            
        </header>
        <main>
            <%= yield %>
        </main>
        
    </body>
</html>
